<nav>
  <div class="nav-container">

    <!-- LOGO -->
    <img src="assets/images/logo.png" class="logo">

    <!-- MENU -->
    <div class="nav-links" id="navLinks">
      <a href="index.html">Home</a>
      <a href="news.html">News</a>
      <a href="rules.html">Rules</a>
      <a href="faction.html">Faction</a>
      <a href="sejarah.html">Sejarah</a>
      <a href="join.html" class="btn-nav">Join</a>
    </div>

    <!-- HAMBURGER -->
    <div class="menu-toggle" onclick="toggleMenu()">
      ☰
    </div>

  </div>
</nav>